nav {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background-color: #697ace;
  font-family: "Poppins", sans-serif;
  color: #f5f5f5;
  border-bottom: 1px #f5f5f5 solid;
  position: sticky;
  top: 0;
  z-index: 3; }
  nav .logo {
    color: #f5f5f5;
    letter-spacing: 4px;
    font-size: 20px;
    padding-left: 20px; }
  nav .nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
    padding-right: 20px; }
    nav .nav-links a {
      color: #f5f5f5;
      text-decoration: none;
      letter-spacing: 3px;
      font-size: 13px; }
    nav .nav-links li {
      list-style: none; }
  nav .burger {
    display: none; }
    nav .burger div {
      background-color: #f5f5f5;
      height: 2px;
      width: 25px;
      margin: 6px;
      transition: all 0.3s ease; }
@keyframes navFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }
  nav .toggle .burger-top {
    transform: rotate(-45deg) translate(-5px, 6px); }
  nav .toggle .burger-middle {
    opacity: 0; }
  nav .toggle .burger-bottom {
    transform: rotate(45deg) translate(-5px, -6px); }

@media (max-width: 768px) {
  nav .burger {
    display: block;
    cursor: pointer; }
  nav .nav-links {
    width: 100%;
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #697ace;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in; }
    nav .nav-links li {
      opacity: 0; }

  .main-header h1 {
    margin-bottom: 30px;
    font-size: 45px; } }
.nav-active {
  transform: translateX(0%) !important; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  max-width: 100%;
  overflow-x: hidden; }

body {
  background-color: #c2c9f3;
  background-size: cover;
  background-repeat: no-repeat; }

.contact-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .contact-page img {
    margin-top: 30px;
    height: 250px;
    width: 250px; }
  .contact-page .contact-text {
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    color: #f5f5f5; }
  .contact-page .contact-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;
    font-family: "Poppins", sans-serif; }
    .contact-page .contact-logos .logo-bg {
      background-color: #ebdfdff5;
      border-radius: 50%;
      border: 2px #697ace solid;
      width: 140px;
      height: 140px; }
    .contact-page .contact-logos div {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 40px; }
    .contact-page .contact-logos h3 {
      text-decoration: none;
      margin: 15px; }
      .contact-page .contact-logos h3 a {
        text-decoration: none; }
    .contact-page .contact-logos a {
      color: #697ace;
      text-decoration: none; }

@media (max-width: 820px) {
  .contact-page .contact-logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }
@media (max-width: 480px) {
  .contact-page .contact-logos {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  .contact-page img {
    margin-top: 20px; } }
.main-header {
  display: flex;
  justify-content: space-between;
  background-image: url(../img/home.jpg);
  background-color: #c2c9f3;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  font-family: "Poppins", sans-serif;
  color: #f5f5f5; }
  .main-header .landing-content {
    margin-left: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .main-header .landing-content h1 {
      font-size: 50px;
      padding: 0 10px; }
    .main-header .landing-content p {
      font-size: 20px; }
    .main-header .landing-content a {
      text-decoration: none;
      color: #f5f5f5;
      padding: 8px 16px;
      border: solid 1px #f5f5f5;
      margin-top: 20px;
      border-radius: 5px;
      transition: ease-out 0.4s; }
    .main-header .landing-content a:hover {
      box-shadow: inset 150px 0 0 0 #697ace; }

.skill-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; }
  .skill-section h4 {
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    padding: 70px 0 15px 0;
    color: #f5f5f5; }
  .skill-section .skills-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px;
    padding: 50px; }
    .skill-section .skills-grid .text-box {
      position: absolute;
      opacity: 0;
      height: auto;
      width: 200px;
      background-color: #ebdfdff5;
      border: 1px solid #697ace;
      border-radius: 5px;
      display: block;
      transition: .3s;
      margin-top: -100px; }
      .skill-section .skills-grid .text-box p {
        color: #697ace;
        text-align: center;
        padding: 10px;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        opacity: 0;
        width: 200px;
        transition: .6s;
        font-weight: 100; }
    .skill-section .skills-grid .fa-windows {
      color: #7979c7; }
      .skill-section .skills-grid .fa-windows:hover .cPopup {
        opacity: 1; }
        .skill-section .skills-grid .fa-windows:hover .cPopup p {
          display: block;
          opacity: 1; }
    .skill-section .skills-grid .fa-vuejs:hover .vuePopup {
      opacity: 1; }
      .skill-section .skills-grid .fa-vuejs:hover .vuePopup p {
        display: block;
        opacity: 1; }
    .skill-section .skills-grid .fa-html5 {
      color: #be8212; }
      .skill-section .skills-grid .fa-html5:hover .htmlPopup {
        opacity: 1; }
        .skill-section .skills-grid .fa-html5:hover .htmlPopup p {
          display: block;
          opacity: 1; }
    .skill-section .skills-grid .fa-sass {
      color: #cf6476; }
      .skill-section .skills-grid .fa-sass:hover .sassPopup {
        opacity: 1; }
        .skill-section .skills-grid .fa-sass:hover .sassPopup p {
          display: block;
          opacity: 1; }
    .skill-section .skills-grid .fa-jira {
      color: #1818cf; }
      .skill-section .skills-grid .fa-jira:hover .jiraPopup {
        opacity: 1; }
        .skill-section .skills-grid .fa-jira:hover .jiraPopup p {
          display: block;
          opacity: 1; }
    .skill-section .skills-grid .fa-database {
      color: purple; }
      .skill-section .skills-grid .fa-database:hover .sqlPopup {
        opacity: 1; }
        .skill-section .skills-grid .fa-database:hover .sqlPopup p {
          display: block;
          opacity: 1; }
    .skill-section .skills-grid .fa-css3-alt {
      color: blue; }
      .skill-section .skills-grid .fa-css3-alt:hover .cssPopup {
        opacity: 1; }
        .skill-section .skills-grid .fa-css3-alt:hover .cssPopup p {
          display: block;
          opacity: 1; }
    .skill-section .skills-grid .fa-js-square {
      color: #caca00; }
      .skill-section .skills-grid .fa-js-square:hover .jsPopup {
        opacity: 1; }
        .skill-section .skills-grid .fa-js-square:hover .jsPopup p {
          display: block;
          opacity: 1; }
    .skill-section .skills-grid .fa-node-js {
      color: green; }
      .skill-section .skills-grid .fa-node-js:hover .nodePopup {
        opacity: 1; }
        .skill-section .skills-grid .fa-node-js:hover .nodePopup p {
          display: block;
          opacity: 1; }
    .skill-section .skills-grid .fa-git:hover .gitPopup {
      opacity: 1; }
      .skill-section .skills-grid .fa-git:hover .gitPopup p {
        display: block;
        opacity: 1; }
    .skill-section .skills-grid img {
      height: 70px;
      width: 70px; }

.projects-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; }
  .projects-section h4 {
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    padding: 70px 0 15px 0;
    color: #f5f5f5; }

@media (max-width: 1080px) {
  .main-header .landing-content {
    margin-left: 60px; } }
@media (max-width: 570px) {
  .main-header {
    justify-content: center; }
    .main-header .landing-content {
      margin-left: 0; }

  .skill-section .skills-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px; } }

/*# sourceMappingURL=main.css.map */
