// nav bar
nav{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    background-color: $nav-bg;
    font-family: $main-font;
    color: $white;
    border-bottom: 1px $white solid;
    position: sticky;
    top: 0;
    z-index: 3;

    .logo{
        color: $white;
        letter-spacing: 4px;
        font-size: 20px;
        padding-left: 20px;
    }
    
    .nav-links{
        display: flex;
        justify-content: space-around;
        width: 35%;
        padding-right: 20px;
    
        a{
            color: $white;
            text-decoration: none;
            letter-spacing: 3px;
            font-size: 13px;
        }
    
        li{
            list-style: none;
        }
    }

    .burger {
        display: none;

        div{
            background-color: $white;
            height: 2px;
            width: 25px;
            margin: 6px;
            transition: all 0.3s ease;
        }

    }

    @keyframes navFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .toggle{
        .burger-top {
            transform: rotate(-45deg) translate(-5px, 6px);
        }

        .burger-middle{
            opacity: 0; 
        }
        .burger-bottom{
            transform: rotate(45deg) translate(-5px, -6px);
        }
    }
}

@media (max-width: 768px) {
    nav{    
        .burger{
            display: block;
            cursor: pointer;
        }
                
        .nav-links{
            width: 100%;
            position: fixed;
            right: 0px;
            height: 92vh;
            top: 8vh;
            background-color: $nav-bg;
            flex-direction: column;
            align-items: center;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;

            li{
                opacity: 0;
            }
        }
    }
    .main-header{
        h1{
            margin-bottom: 30px;
            font-size: 45px;
        }
    }
}

.nav-active{
    transform: translateX(0%) !important;
}



