body{
    background-color: $page-bg-col;
    // background-image: url(../img/landing-page.jpg); 
    // background-color: $nav-bg;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}

.contact-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $main-font-col;

    img{
        margin-top: 30px;
        height: 200px;
        width: 200px;
    }
    
    .contact-text{
        padding-top: 40px;
        font-family: $main-font;
    }
    
    .contact-logos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 40px;
        font-family: $main-font;
        
    
        .logo-bg{
            background-color: $white;
            border-radius: 50%;
            border: 2px $border-col solid;
            width: 140px;
            height: 140px;
        }
    
        div{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 40px;
        }
    
    
        h3{
            text-decoration: none;
            margin: 15px;
            a{
                text-decoration: none;
            }
        }
    
        a{
            color: $main-font-col;
            text-decoration: none;
        }
    }
}

@media (max-width: 820px) {
    .contact-page{
        .contact-logos{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 480px) {
    .contact-page{
        .contact-logos{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }

        img{
            margin-top: 20px;
        }
    }
}
