// colors

$white : rgb(216, 202, 202);
$button-white: rgb(230, 219, 219);
$button-bg: rgb(173, 173, 173);
$nav-bg: #5d4954;
$main-font-col: #70696d;
$border-col: red;

$page-bg-col: #c7c2c2;



// fonts 

$main-font: 'Poppins', sans-serif;

