// colors

$white : rgb(216, 202, 202);
$button-white: rgb(230, 219, 219);
$button-bg: rgb(173, 173, 173);
$nav-bg: #5d4954;

$page-bg-col: #f5f5f5;



// fonts 

$main-font: 'Poppins', sans-serif;
